@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Quicksand:300,400,500,700");
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal; }

h1 {
  font-size: 5rem; }

h2 {
  font-size: 4rem; }

h3 {
  font-size: 3rem; }

h4 {
  font-size: 2rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.5rem; }

a, li, p, span {
  font-family: 'Open Sans', sans-serif; }

.nav-wrapper {
  background-color: white;
  transition: all 1s;
  width: 100%;
  z-index: 1; }

.login {
  color: #fff; }
  .login .container .row .left-column {
    background-color: red; }
    .login .container .row .left-column .row div {
      text-align: center;
      padding: 5rem; }
    .login .container .row .left-column .row .login-current {
      background-color: #990033; }
    .login .container .row .left-column .row .login-new {
      background-color: #adaa7b; }
  .login .container .row .right-column {
    background-color: #990033;
    text-align: right; }
    .login .container .row .right-column .row {
      padding-bottom: 1rem; }
      .login .container .row .right-column .row div {
        display: table; }
        .login .container .row .right-column .row div img {
          height: 50px;
          margin-bottom: 1rem;
          margin-top: 1rem;
          padding-left: 1rem;
          padding-top: 1rem; }
        .login .container .row .right-column .row div form {
          background-color: #fff;
          display: table-cell; }
          .login .container .row .right-column .row div form input {
            border: none;
            font-size: 2rem;
            line-height: 2.5rem;
            text-align: right;
            width: 100%; }

.navbar {
  background-color: #adaa7b; }

.nav-link, a {
  color: white; }

.slider {
  margin-top: 1rem; }
  .slider .container {
    height: 50vh;
    max-width: none;
    padding: 0; }
    .slider .container ol {
      z-index: 0; }

.carousel-inner .carousel-item {
  background-image: url("/assets/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.boxes {
  background-color: #fff;
  margin-top: 1rem; }
  .boxes .container .row-1 div {
    border-radius: 1rem;
    height: 25rem; }
  .boxes .container .row-1 > :nth-child(1) {
    background-color: #262228; }
  .boxes .container .row-1 > :nth-child(2) {
    background-color: #FC4A1A; }
  .boxes .container .row-2 div {
    border-radius: 1rem;
    height: 12.5rem; }
  .boxes .container .row-2 > :nth-child(1) {
    background-color: #F78733; }
  .boxes .container .row-2 :nth-child(2) {
    background-color: #FFCE00; }
  .boxes .container .row-2 :nth-child(3) {
    background-color: #4ABDAC; }
  .boxes .container .row-2 :nth-child(4) {
    background-color: #007849; }
  .boxes .container .row-2 :nth-child(5) {
    background-color: #0375B4; }
  .boxes .container .row-2 :nth-child(6) {
    background-color: #E37222; }
  .boxes .container .row-2 :nth-child(7) {
    background-color: #07889B; }
  .boxes .container .row-2 :nth-child(8) {
    background-color: #66B9BF; }
  .boxes .container .row-2 :nth-child(9) {
    background-color: #EEAA7B; }
  .boxes .container .row-2 :nth-child(10) {
    background-color: #A239CA; }

.lg {
  padding: 0; }
  .lg .boxes-caption {
    display: table;
    text-align: center;
    width: 100%;
    transition: all 1s; }
    .lg .boxes-caption p {
      color: white;
      display: table-cell;
      vertical-align: middle; }
    .lg .boxes-caption:hover {
      background-color: red; }
  .lg p {
    font-size: 5rem; }

.md {
  padding: 0; }
  .md .boxes-caption {
    display: table;
    text-align: center;
    width: 100%;
    transition: all 1s; }
    .md .boxes-caption p {
      color: white;
      display: table-cell;
      vertical-align: middle; }
    .md .boxes-caption:hover {
      background-color: red; }
  .md p {
    font-size: 3rem; }

.sm {
  padding: 0; }
  .sm .boxes-caption {
    display: table;
    text-align: center;
    width: 100%;
    transition: all 1s; }
    .sm .boxes-caption p {
      color: white;
      display: table-cell;
      vertical-align: middle; }
    .sm .boxes-caption:hover {
      background-color: red; }
  .sm p {
    font-size: 2rem; }

.footer {
  background-color: #332211;
  color: #fff;
  margin-top: 1rem;
  min-height: 83vh;
  text-align: center; }
  .footer .row-1 .logo {
    height: 475px;
    background-image: url("/assets/logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto; }
  .footer .row-1 .links p {
    line-height: 3rem; }
  .footer .row-2 .location p {
    line-height: 3rem; }

iframe {
  width: 100%;
  margin-top: 2rem; }

/*********************** Min Media Queries ***********************************/
@media only screen and (min-width: 576px) {
  .login .container .row .right-column .row {
    bottom: 0;
    margin: 0;
    position: absolute;
    right: 0;
    width: 100%; }
    .login .container .row .right-column .row div form {
      padding-bottom: 1.5rem;
      padding-top: 1.5rem; } }
@media only screen and (min-width: 768px) {
  .navbar .container #myNav ul li .dropdown-menu {
    background-color: black;
    left: auto;
    margin: 0.4rem 0 0; } }
@media only screen and (min-width: 992px) {
  .navbar .container #myNav {
    flex-grow: 0; }
    .navbar .container #myNav ul li {
      padding: 2rem; } }
/*********************** Max Media Queries ***********************************/
@media only screen and (max-width: 575.98px) {
  .navbar {
    margin-top: 1rem; }
    .navbar .container #myNav ul li {
      box-shadow: -3px 0px 0px -1px black;
      padding: 1rem; } }

/*# sourceMappingURL=index.css.map */
