
///////////////////////////////////////////////////////////////////////////////
/*********************** Min Media Queries ***********************************/
////////////////////////////////////////////////////////////////////////////////
@media only screen and (min-width: $breakpoint-phablet) {
  .login{
    .container{
      .row{
        .right-column{
          .row{
            //bottom: 0;
            margin: 0;
            //position: absolute;
            //right: 0;
            width: 100%;
            div{

              form{
                //padding-bottom: 1rem;
                //padding-top: 1rem;
                position: relative;
                //top: 1rem;
                width: 100%;
              }
            }
          }
        }
        .left-column{
          .row{
            div{
              //padding: 2rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $breakpoint-tablet) {
  .nav-wrapper{
    //transition: all .09s;
  }
  .navbar{
    .container{
      @include non-mobile-nav-styles;

      .navbar-brand{display: none;}

    }
  }
}

@media only screen and (min-width: 992px) {

    .navbar{
      .container{
        .navbar-brand{display: block;}
        #myNav{
          flex-grow: 0;
          ul{
            li{
              padding: 2rem;
              transition: all 0.5s;

            }
          }
        }
      }
    }
    .slider{
      margin-top:18rem;
    }

    .footer{
      min-height: $footer-min-height + 7vh;
    }

}



///////////////////////////////////////////////////////////////////////////////
/*********************** Max Media Queries ***********************************/
////////////////////////////////////////////////////////////////////////////////
@media only screen and (max-width:575.98px){

  //Hides Empty Columns on mobile
  .login-empty-col{display: none;}

  .aboutGA{
    .text-box{
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}
