///////////////////////////////////////////////////////////////////////////////
////////////////////////// LINK STYLES ////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@mixin standard-link-styles {
  a, a:link, a:visited{
    color: $white;
    cursor: pointer;
  }

  a:active > div{
    //background-color: white !important;
box-shadow: 0px 2px 0px 0px $white;
    color: $white;
  }

a:hover > div{
  box-shadow: 0px 2px 0px 0px $white;
  text-decoration: none;
}
}

////////////////////////////////////////////////////////////////////////////////
////////////////////////// NAVBAR //////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@mixin mobile-nav-styles{

  #myNav{
    ul{
      li{
        //box-shadow: -3px 0px 0px -1px $white;
        //box-shadow: 0px 0px 0px 1px $white;
        //border: 1px solid $white;
        padding: 0.5rem;
        //transition: all 1s;

        .dropdown-menu{
          background-color: $gold;
          border: none;
          .dropdown-item{
            //display: initial;
            box-shadow: -1px 0px 0px 0px $white;
            font-size: 1.5rem;
            margin-bottom: 2rem;
          }
        }
      }
    }
  }

}

@mixin non-mobile-nav-styles{}


///////////////////////////////////////////////////////////////////////////////
////////////////////////// BACKGROUND IMAGES////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@mixin background-image-auto {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin background-image-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin background-image-cover{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

///////////////////////////////////////////////////////////////////////////////
////////////////////////// BOXES AREA /////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@mixin boxes-style {
  padding: 0;
  margin: 0 auto;
//  &:hover{
    //background-color: red;
  //  background-blend-mode: soft-light !important;
  //}
  .boxes-caption{
    display: table;
    //margin: 0 auto;

    text-align: center;
    width: 100%;

    transition: all 1s;
    p{
      color: white;
      display: table-cell;

      vertical-align: middle;
      //width: 100%;
    }


  }
}

@mixin boxes-caption-large {
  p{font-size: $lg-box-font-size}
}
@mixin boxes-caption-medium {
  p{font-size: $md-box-font-size}
}
@mixin boxes-caption-small {
  p{font-size: $sm-box-font-size}
}
@mixin boxes-paragraphs-styles {

    color: $brown;
    margin-top: 5rem;
    margin-bottom: 5rem;

    h2{text-align: center;}
    .boxes-logo{
      //background-image: url("/assets/logo.jpg");
      margin-bottom: 5rem;
      //padding: 5rem;
      text-align: center;
      img{
        width: 175px;
        height: 175px;
        padding: 1rem;
        //width: 50%;
      }
    }
}
