///////////////////////////////////////////////////////////////////////////////
////////////////////////// LINK STYLES ////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@mixin standard-link-styles {
  a, a:link{
    color: red;

  }

  a:active > div{
    //background-color: white !important;
box-shadow: 0px 2px 0px 0px $white;
    color: $white;
  }

a:hover > div{
  box-shadow: 0px 2px 0px 0px $white;
  text-decoration: none;
}
  a:visited{
    color:red;
  }
}

///////////////////////////////////////////////////////////////////////////////
////////////////////////// BACKGROUND IMAGES////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////

@mixin background-image-auto {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin background-image-contain {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin background-image-cover{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

///////////////////////////////////////////////////////////////////////////////
////////////////////////// BOXES AREA /////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////
@mixin boxes-style {
  padding: 0;
  &:hover{
    //background-color: red;
    background-blend-mode: soft-light !important;
  }
  .boxes-caption{
    display: table;
    //margin: 0 auto;

    text-align: center;
    width: 100%;

    transition: all 1s;
    p{
      color: white;
      display: table-cell;

      vertical-align: middle;
      //width: 100%;
    }


  }
}

@mixin boxes-caption-large {
  p{font-size: $lg-box-font-size}
}
@mixin boxes-caption-medium {
  p{font-size: $md-box-font-size}
}
@mixin boxes-caption-small {
  p{font-size: $sm-box-font-size}
}
@mixin boxes-paragraphs-styles {
    color: $brown;
    margin-top: 10rem;
    margin-bottom: 10rem;

    h2{text-align: center;}
    .boxes-logo{
      //background-image: url("/assets/logo.jpg");
      text-align: center;
      img{width: 50%;}
    }

}
