
@mixin boxes-style {
  padding: 0;
  .boxes-caption{
    display: table;
    //margin: 0 auto;

    text-align: center;
    width: 100%;

    transition: all 1s;
    p{
      color: white;
      display: table-cell;

      vertical-align: middle;
      //width: 100%;
    }

    &:hover{
      background-color: red;
    }
  }
}

@mixin boxes-caption-large {
  p{font-size: $lg-box-font-size}
}
@mixin boxes-caption-medium {
  p{font-size: $md-box-font-size}
}
@mixin boxes-caption-small {
  p{font-size: $sm-box-font-size}
}
