
//Fonts
  //Header - Quicksand
    h1,h2,h3,h4,h5,h6{
      font-family: 'Quicksand', sans-serif;
      font-weight: normal;
    }

    $h1 : 5rem;
    $h2 : 4rem;
    $h3 : 3rem;
    $h4 : 2rem;
    $h5 : 1rem;
    $h6 : 0.5rem;

    h1{font-size: $h1;}
    h2{font-size: $h2;}
    h3{font-size: $h3;}
    h4{font-size: $h4;}
    h5{font-size: $h5;}
    h6{font-size: $h6;}




//Box Sizes
    $lg-box-height: 25rem;
    $md-box-height: $lg-box-height / 2;
    $sm-box-height: $lg-box-height / 2;

//Box Captions
    $lg-box-font-size:3rem;
    $md-box-font-size:1.5rem;
    $sm-box-font-size:1.5rem;

//General Text
  a,li,p,span{
    font-family: 'Open Sans', sans-serif;
  }

//Breakpoints
  $breakpoint-phablet:576px;
  $breakpoint-tablet:768px;


//Colours
  $red: #990033;
  $gold: #adaa7b;
  $brown: #332211;
  $white: #fff;
  $black: black;

//Footer
$footer-min-height: 83vh;
