
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Quicksand:300,400,500,700');
@import "_mixins.scss";
@import "_variables.scss";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");



.nav-wrapper {
  background-color: white;
  //margin-bottom: 5rem;
  //top: -100px;
  transition: all 1s;
  width: 100%;
  z-index: 1;


}

.login{
  color: $white;
  .container{
    .row{
      //height: 10rem;
      .left-column{
        background-color: red;
        .row{
          div{
            text-align: center;
            //This Screws with <768px
            padding:5rem;
          }
          .login-current{background-color: $red;}
          .login-new{background-color: $gold;}
        }
      }
      .right-column{
        background-color: $red;
        text-align: right;

        .row{
          padding-bottom: 1rem;
          div{
            display: table;

            img{
              height: 50px;
              margin-bottom: 1rem;
              margin-top: 1rem;
              padding-left: 1rem;
              padding-top: 1rem;
            }

            form{
              background-color: $white;
              display: table-cell;

              input{
                border: none;
                font-size: 2rem;
                line-height: 2.5rem;
                text-align: right;
                width:100%;
              }
            }
          }
        }
      }
    }
  }
}

.navbar{
  background-color: $gold;
}

// 3/4/18 -- Temp Link styling, will do properly later
.nav-link, a{
  color: white;
}

.slider {
  margin-top: 1rem;
  .container {
    //background-color: maroon;
    //font-size: 10rem;
    height: 50vh;
    max-width: none;
    padding: 0;

    ol{
      z-index: 0;
    }
  }
}

.carousel-inner{
  .carousel-item{
    background-image: url("/assets/1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.boxes {
  background-color: $white;
  margin-top: 1rem;
  .container {
    .row-1 {

      div{
        border-radius: 1rem;
        height: 25rem;
      }

      >:nth-child(1) {
        background-color: #262228;
      }
      >:nth-child(2) {
        background-color: #FC4A1A;
      }

    }

    .row-2{
      //margin-top: 1rem;
      div{
        border-radius: 1rem;
        height:12.5rem;

      }
      >:nth-child(1){background-color: #F78733;}
      :nth-child(2){background-color: #FFCE00;}
      :nth-child(3){background-color: #4ABDAC;}
      :nth-child(4){background-color: #007849;}
      :nth-child(5){background-color: #0375B4;}
      :nth-child(6){background-color: #E37222;}

      :nth-child(7){background-color: #07889B; }
      :nth-child(8){background-color: #66B9BF;}
      :nth-child(9){background-color: #EEAA7B;}
      :nth-child(10){background-color: #A239CA;}
    }
  }
}

.lg{@include boxes-style; @include boxes-caption-large;}
.md{@include boxes-style; @include boxes-caption-medium;}
.sm{@include boxes-style; @include boxes-caption-small;}

.footer{
  background-color: $brown;
  color: $white;
  margin-top: 1rem;
  min-height: 83vh;
  text-align: center;
  .row-1{
    //background-color: green;
      .logo{
        height: 475px;
        background-image: url("/assets/logo.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto;
        //margin-top: 2rem;
      }
      .links{
        p{line-height: 3rem;}
      }

  }
  .row-2{
    //background-color: blue;
    .map{}
    .location{p{line-height: 3rem;}}
  }
}
iframe{
  width: 100%;
  margin-top: 2rem;
}

@import "_media-queries.scss";
